<div class="feedback">
    {{!-- <div class="banner feedback-banner"></div> --}}
    <div class="feedback-wrapper">
        <div>
            <h2>Thank you for using my website!</h2>
        </div>
        <div>
            <p>If you found any problems, bugs or just want to share your feedback - please, contact me via the form on
                this
                page!</p>
        </div>
        <div>
            <form class="contact-form" action="https://formspree.io/{{addr}}" method="post">
                <div>
                    <label>Email</label>
                    <input type="email" name="email" class="email" required>
                </div>
                <div>
                    <label>Subject</label>
                    <input type="text" name="subject" class="subject">
                </div>
                <div>
                    <label>Message</label>
                    <textarea class="message" required></textarea>
                </div>
                <button type="submit" class='submit'>Send</button>
            </form>
        </div>
        <div>
            <img src="/images/feedback-small.jpg" alt="">
        </div>
    </div>
</div>