<div class="first-page">
    <div class="banner"></div>
    <div class="welcome">
        <div class="welcome-search"></div>
        <h1>Find your code</h1>
        <p>Find the code with the hints and save some time during the development process 😎</p>
        <form class="main-search" action="/all" method="GET">
            <input class="main-search-input" type="search" name="search" placeholder="Find a code!" required minlength="3">
            <input class="main-search-btn" type="submit" value="Find it!">
        </form>
        <div class="all-search">
            <a class="all-link" href="/all?pageNo=1">All snippets</a>
        </div>
        {{#if errorMessage}}
        <p>{{ errorMessage }}</p>
        {{/if}}
    </div>
</div>