<div>
    <div class="banner error"></div>
    <div class="error-not-found">
        <h1>Error</h1>
        <h5>Smth is wrong with a server 🤨 </h5>
        <h3>However I have a nice gif 😇 </h3>
        <div>
            <img class='gif' src="/images/404.gif">

        </div>
    </div>

</div>