<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Here I will have the start page</p>
<ul>
    <li>Nav</li>
    <li>Search</li>
    <li>Footer</li>
    <li>login</li>
</ul>

<a href="/all">Go to the all snippets page (remove later)</a>
<br>
<a href="/create">go to the create snippet page (remove later)</a>
