<div class="first-page">
    <div class="banner"></div>
   
    <div class="welcome">
        <div class="welcome-search"></div>
         <h4>Search is empty, try again or sign up and create your own snippet</h4>
        <form class="main-search" action="/all" method="GET">
            <input class="main-search-input" type="search" name="search" placeholder="Find a code!">
            <input class="main-search-btn" type="submit" value="Find it!">
        </form>
        <div class="all-search">
            <form class='main-search-all' action="/all">
                <input class="all-search-btn" type="submit" value="Check all snippets!">
            </form>
        </div>
    </div>
</div>