/* general */
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body {
  font-size: 16px;
  font-family: "Varela", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D8F79D;
}

* {
  box-sizing: border-box;
}

img {
  width: 100px;
}

.home {
  width: 40px;
}


.home-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;

  background-size: cover;
}

.error {
  text-align: center;
}

/* header */

.container div {
  position: relative;
  background-color: #5b5e6d;
  width: 40px;
  height: 2px;
  margin: 6px 0;
  right: 20px;
}
header {
  /* position: fixed; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: #a2dab6;
}

.nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav ul a {
  position: relative;
  list-style: none;
  margin: 0 15px;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: space-around; 
  font-size: 0.8em;
}

.signup {
  position: relative;
  left: 50px;
}

/* 1st page with the search  */

.banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(/images/first-page.jpg);
  background-size: cover;
}

.logout {
  background-color: #D9E3C8;
  font-size: 0.8em;
}

/* search */

 


/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #44e37d;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0ea945;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.example {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 10px;
  
}



/* text part on the 1st page */

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.welcome h1 {
  font-size: 2.5em;
}

.main-search {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-search-input {
  padding: 10px 30px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: 5px solid #0B7E56;
  text-align: center;
}

.main-search-btn {
  padding: 10px 50px;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 1.2em;
  width: 200px;
  background-color: #cae7dc;
  border: 2px solid #0B7E56;
  border-radius: 10px;
}

.all-search-btn {
  font-size: 1.1em;
  font-weight: bold;
  width: 300px;
  padding: 10px;
  background-color: #a1c0b5;
}

.all-link {
  padding: 10px;
  background-color: #A3EBD2;
  border: 2px solid #0B7E56;
  border-radius: 10px;
  text-decoration: none;
  color: #0D4F37;
}

.welcome {
  font-size: 1.2em;
  text-align: center;    
}




/* all snippets page */

.banner-all {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/alotofcode.jpeg);

  background-size: cover;
  background-repeat: repeat-y;
}

.all-page {
  position: relative;

}

.pagination-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.all-snippets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  margin-top: 20px;
 
}

.pagination-centered {
width: 90%;
}

.pagination-centered ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  
}

.active {
  font-size: 2em;
} 

.real-one {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  /* justify-content: space-between; */
  align-items: center;
  width: 150px;
  height: 120px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d3f1e6;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #3A403E;
}

.one-snippet-info {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-left: 10px;
}

.one-snippet-info h4 {
  font-size: 0.7em;
  
}

.one-snippet-info p {
  font-size: 0.6em;
 
}

.one-snippet-image {
  width: 50px;
}

/* signup */
/* login (just reused sign up style) */
.signup-banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/bugphoto-small.jpg);
  background-size: cover;
}

.funny-gif {
  display: none;
}

.signup-inputs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-form div input {
  padding: 10px;
}

.signup-finish {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-link {
  text-align: center;
}

.label {
  text-align: center;
}

/* one snippet page */
.banner-one-snippet {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/onecode.webp);
  background-size: cover;
}

.one-snippet-whole {
  /* margin-top: 70px; */
  margin-bottom: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.one-snippet-page {
  /* margin-top: 70px; */
  margin-bottom: 90px;
}

.error {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/find-small.png);
}

.error-not-found {
  margin-bottom: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif {
  width: 300px;
}

/* create snippet page */

.create {
  width: 200px;
  padding: 10px;
}

.create-form-snippet, .create-name, .create-description, .create-extension, .create-tags, .create-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #051D14;
}

img {
  /* height: 100px; */
  padding-left: 10px;
}

code {
  background: red;
  height: 200px;
}

.create-snippet-whole {
 
}

.create-form-snippet {
 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  
  
}

.scroll-box {
  height: 250px;
  width: 350px;
  overflow: auto;
  background-color: #EBF5D8;
  color: black;
  scrollbar-base-color: gold;
  font-family: sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

.snippet-textarea {
  color: black;
}

.yes {
  padding: 8px;
  width: 200px;
  background-color: #C5EB7D;
  font-size: 1.1em;
  margin-bottom: 20px;
}

/* profile */
.profile-info {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-banner {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/profile.jpg);
}
.profile-info {
  width: 90%
}

.info-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 200px;
  margin-right: 10px;
}

.create-snippet-link {
  padding: 10px;
  background-color: #ADF7A3;
  text-decoration: none;
  border: 2px green solid;
}

.profile-snippets {
  text-align: center;
}

/* edit profile */

.edit-profile-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

.edit-avatar form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.edit-profile-info input, .edit-avatar input {
  margin-bottom: 10px;
 padding: 10px;
} 

.edit-avatar form div button {
  padding: 10px 20px;
  background-color: #C5F0BF;
  margin-bottom: 10px;
}

.edit-profile-info div label {
  font-size: 1.1em;
}

.edit-profile-text form button {
  padding: 10px;
}

/* feedback */

.feedback {
  height:   100vh;;
}

.feedback-wrapper {
  
  position: absolute;
  top: 60%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 50px;
}

.feedback-wrapper img {
  width: 250px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}

.contact-form  div {
display: flex;
flex-direction: column;
justify-content: space-between;
  text-align: center;
}

.contact-form div input {
  margin-bottom: 10px;
  padding: 10px;

}

.contact-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #83F9D2;
}



/* footer */
footer {
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  font-size: 0.9em;
}
.wrapper {
  background-color: #a2dab6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
}
.icons {
  text-decoration-style: none;
}
.icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.icons ul li {
  list-style: none;
  margin: 0 10px;
}
.icons ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.icons ul li .fa:hover {
  color: #ffffff;
}
.icons ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

/* footer  */
.icons ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.icons ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.icons ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.icons ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.icons ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.icons ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}

@media screen and (max-width: 414px) {
  .logout {
    margin-right: 5px;
  }
  .username {
    margin-left: 5px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {


  .signup-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .funny-gif {
    display: block;
    margin: 30px auto;
  }
  .real-one {
    width: 200px;
    height: 150px;
    
  }
  .one-snippet-info h4 {
    font-size: 1.1em;
  }
  .one-snippet-image {
    width: 80px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .signup-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .signup-banner {
    background-image: url("/images/bugphoto.jpg");
  }
  .funny-gif {
    display: block;
    margin: 30px auto;
  }
  .create-form {
    font-size: 1.4em;
  }
  .create-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .create-form div label {
    margin-right: 10px;
  }

  .main-search-input {
    width: 500px;
    padding: 30px;
  }
  .main-search-btn {
    width: 300px;
  }
  .all-link {
   padding: 10px 40px;
  }
  .real-one {
    width: 300px;
    height: 150px;
    
  }
  .one-snippet-info h4 {
    font-size: 1.2em;
  }
  .one-snippet-image {
    width: 100px;
  }
  .edit-profile-info {
   width: 400px;
  
   
  }
  .logout {
    padding: 8px;
    
  }

  .nav {
    width: 300px;
    align-items: baseline;
    font-size: 1.1em;
  }
  .create-snippet-info {
    display: flex;
    flex-direction: column;
    color: red
  }
  .create-form {
    display: flex;
    flex-direction: column;
    color: red
  }
  .scroll-box {
    height: 360px;
    width: 500px;
  }
}

@media (min-width: 1025px) {

  .signup-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .signup-banner {
    background-image: url("/images/bugphoto.jpg");
  }
  .funny-gif {
    display: block;
    margin: 30px auto;
  }
  .snippet-create-wrapper {
    order: 0;
  }
  .main-search-input {
    width: 700px;
    padding: 30px;
    font-size: large;
  }
  .main-search-btn {
    width: 400px;
  }
  .all-link {
   padding: 10px 50px;
  }
  .real-one {
    width: 400px;
    height: 170px;
    
  }
  .one-snippet-info h4 {
    font-size: 1.4em;
  }
  .one-snippet-image {
    width: 150px;
  }
  .feedback-wrapper {
    top: 50%;
    width: 600px;
  }
  .contact-form {
    width: 500px;
  }
  .profile-info {
    
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .info-avatar {
    margin-right: 60px;
   
  }

  .logout {
    width: 100px;
    padding: 5px;;
  }
  .nav {
    width: 250px;
    align-items: baseline;
  }
  .create-form-snippet {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}
/* .create {
  width: 200px;
  padding: 10px;
}

.create-form, .create-name, .create-description, .create-extension, .create-tags, .create-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #051D14;
}

img {
 
  padding-left: 10px;
}

code {
  background: red;
  height: 200px;
}

.create-form {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.scroll-box {
  height: 300px;
  width: 350px;
  overflow: auto;
  background-color: #EBF5D8;
  color: black;
  scrollbar-base-color: gold;
  font-family: sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

.snippet-textarea {
  color: black;
}

.yes {
  padding: 10px;
  width: 200px;
  background-color: #C5EB7D;
  font-size: 1.2em;
  margin-bottom: 10px;
} */