<form action="create" method="post">
    <label for="name">Snippet name</label>
    <input type="text" name='name' >
    <br>
     <label for="description">Snippet description</label>
    <input type="text" name="description">
    <br>
     <label for="snippet">Snippet</label>
    <input type="text" name="snippet">
    <br>

     <label for="connections">Snippet connections</label>
    <input type="search" name="connections">

<br>
     <label for="tags">Tags</label>
    <select  name="tags" id="tags" multiple>
        {{#each data}}
        <option value="{{name}}">{{name}}</option>
         {{/each}}
    </select>
   <button type="submit">Yes</button>
</form>

<a href="/">Back</a>