<form action="create" method="post">
    <label for="name">Snippet name</label>
    <input type="text" name='name' >
    <br>
     <label for="description">Snippet description</label>
    <input type="text" name="description">
    <br>
     <label for="snippet">Snippet</label>
    <input type="text" name="snippet">
    <br>

   <button type="submit">Yes</button>
</form>

<a href="/">Back</a>

{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}