{{!-- <header>
    <form class="example" action="/all" method="GET">
        <input id="search" type="search" name="search" placeholder="Find a code!">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
   

</header> --}}

